

<section class="bg-lig ">
	<div class="container ">
		<footer class="py-5 justify-content-evenly">
			<div class="row">
				<div class="col-6 col-md-4 mb-3" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
					<h5>BİZE ULAŞIN</h5>
					<div class="col-auto">
						<div>
							<h6>Adres</h6>
							ZEYTİNBURNU/İSTANBUL
						</div>
						<div>
							<h6>Email</h6>
							blabla@gmail.com
						</div>
						<div>
							<h6>Telefon</h6>
							0212 345 5678
						</div>
					</div>
				</div>

				<br />

				<div class="col-6 col-md-4 " style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
					<h5>EN ÇOK SATILAN ÜRÜNLER</h5>
					<ul class="nav flex-column">
						<li class="nav-item mb-2"><a href="/Products" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;" class="nav-link p-0 text-body">PARA SAYMA MAKİNALARI</a></li>
						<li class="nav-item mb-2"><a href="/Products" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;" class="nav-link p-0 text-body">ÇELİK KASALAR</a></li>
						<li class="nav-item mb-2"><a href="/Products" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;" class="nav-link p-0 text-body">EV KASALARI</a></li>
						<li class="nav-item mb-2"><a href="/Products" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;" class="nav-link p-0 text-body">KUYUMCU KASALARI</a></li>
						<li class="nav-item mb-2"><a href="/Products" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;" class="nav-link p-0 text-body">SİLAH KASALARI</a></li>
					</ul>
				</div>


				<br />
				<div class="col-md-4 mb-3" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
					<form>
						<h5>E Bültene Abone Ol</h5>
						<p>İndirimleri Kaçırmamak İçin Kyadol</p>
						<div class="mt-2">
							<label for="newsletter1" class="visually-hidden">Email</label>
							<input id="newsletter1" type="text" class="form-control-md" placeholder="Email address">
							<button class="btn btn-primary text-nowrap mt-7" type="submit" asp-action="" asp-controller="Home">Abone Ol</button>

						</div>
					</form>
				</div>
			</div>

			<div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
				<p>© 2024 Company, Inc. All rights reserved.</p>
				<ul class="list-unstyled d-flex">
					<li class="ms-3"><a class="text-secondary" href="#" target="_blank"><i class="bi bi-twitter-x"></i></a></li>
					<li class="ms-3"><a class="text-secondary" href="#" target="_blank"><i class="bi bi-instagram"></i></a></li>
					<li class="ms-3"><a class="text-secondary" href="#" target="_blank"><i class="bi bi-facebook"></i></a></li>

				</ul>
			</div>
			
		</footer>
	</div>
</section>
