

<section class="bg-lig ">
	<div class="container ">
		<footer class="py-5 justify-content-evenly">
			<div class="row">
				<div class="col-6 col-md-4 mb-3" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
					<h5>BİZE ULAŞIN</h5>
					<div class="col-auto">
						<div>
							<h6>Adres</h6>
							Gürün sokak, Başoğlu Oto Sanayi Sitesi 3/10, 34025 Zeytinburnu/İstanbul
						</div>
						<div>
							<h6>Email</h6>
							zarifyilmaz@gmail.com
						</div>
						<div>
							<h6>Telefon</h6>
							0532 161 9927
						</div>
					</div>
				</div>

				<br />

				<div class="col-6 col-md-4 " style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
					<div>
						<p>Shopier Sayfam</p>
						<a href="https://www.shopier.com/ShowProductNew/storefront.php?shop=Yilmazcelikkasa&sid=UEFDaTY1clRCeUF4TGJaSTBfLTFfIF8g">
							</a>
					</div>
				</div>


				<br />
				<div class="col-md-4 mb-3" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
					<form>
						<h5>E Bültene Abone Ol</h5>
						<p>İndirimleri Kaçırmamak İçin Kaydol</p>
						<div class="mt-2">
							<label for="newsletter1" class="visually-hidden">Email</label>
							<input id="newsletter1" type="text" class="form-control-md" placeholder="Email address">
							<button class="btn btn-primary text-nowrap mt-7" type="submit" asp-action="" asp-controller="Home">Abone Ol</button>

						</div>
					</form>
				</div>
			</div>

			<div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
				<p>© 2024 Company, Inc. All rights reserved.</p>
				<ul class="list-unstyled d-flex">
					<li class="ms-3"><a class="text-secondary" href="#" target="_blank"><i class="bi bi-twitter-x"></i></a></li>
					<li class="ms-3"><a class="text-secondary" href="https://www.instagram.com/para_sayma_makinalari/reel/DC9-D-vtbkX/" target="_blank"><i class="bi bi-instagram"></i></a></li>
					<li class="ms-3"><a class="text-secondary" href="#" target="_blank"><i class="bi bi-facebook"></i></a></li>

				</ul>
			</div>

			
		</footer>
	</div>
</section>
