@using Kursprojesi.WebUI.ExtensionsMethods

<link href="css/styles.css" rel="stylesheet" />
<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>


<nav class="navbar-collapse collapse d-sm-inline-flex" style="">
	<div class="" style="margin-left:4rem; ">
		<img src="/Image/logo projedeki.jpg" height="33" />
		<a class="navbar-brand" asp-controller="Home" asp-action="" style="font-size:medium; color:black;  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">YILMAZ ÇELİK KASA</a>

	</div>
	<form class="" style="margin-left:20rem;" action="/Products" role="search">
		<div class="input-group">
			<input class="form-control-sm" type="search" name="q" placeholder="ARA" aria-label="Search" aria-describedby="btnNavbarSearch" height="30" />
			<button class="btn btn-" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>

		</div>
	</form>


	<div class="raw" style="margin-left:37rem; font-size:15px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
		@if (Context.User.Identity.IsAuthenticated)
		{
			<div class="dropdown">

				<a class="dropdown-toggle nav-link text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
					HESABIM
				</a>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="/Account">KULLANICI BİLGİLERİ</a></li>
					<li><a class="dropdown-item" href="/Adres">ADRESLERİM</a></li>
					<li><a class="dropdown-item" href="/Account/Orders">SİPARİŞLERİM</a></li>
					<li><a class="dropdown-item" href="/Account/SignOut/">OTURUMU KAPAT</a></li>


				</ul>
			</div>
		}
		else
		{
			<div class="dropdown">
				<a class="dropdown-toggle nav-link text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					GİRİŞ YAP
				</a>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="/Account/SignIn/">GİRİŞ</a></li>
					<li><a class="dropdown-item" href="/Account/SignUp/">ÜYE OL</a></li>


				</ul>
			</div>
		}

	</div>

</nav>
<header>
	<nav class="navbar navbar-expand-sm justify-content-evenly" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size:14px; ">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

				<span class="navbar-toggler-icon"></span>


			</button>

			<div class="navbar-collapse collapse d-sm-inline-flex ">
				<ul class="navbar-nav ">
					<li class="nav-item">
						<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"></a>

					</li>
					@await Component.InvokeAsync("Categories")

				</ul>
				<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ContactUs">İLETİŞİM</a>


			</div>
			<div class="dropdown mx-3">
				<a class=" nav-link text-dark" style="margin-left:6rem; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif" href="/Favori" role="button">
					<i class="fa-regular fa-heart"></i>
					FAVORİLERİM
				</a>
			</div>

			<div class="dropdown" style=" font-size:15px; margin-right:11rem; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
				@{
					var cart = Context.Session.GetJson<Eticaret.Service.Concrate.CartService>("Cart");
					if (cart != null && cart.CartLines.Count > 0)
					{

						<a class="dropdown-toggle" style="font-size:14px; text-decoration:none; color:black;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="fa-solid fa-cart-shopping"></i>
							SEPET
							<span class="badge bg-black text-white ms-1 rounded-pill">
								@cart.CartLines.Count
							</span>
						</a>
						<ul class="dropdown-menu">
							@foreach (var item in cart.CartLines)
							{
								<li>
									<a class="dropdown-item" href="/Products/Details/@item.Product.Id">
										<img src="/Image//Product/@item.Product.Image" height="75" alt="" />
										@item.Product.Price.ToString("c")
									</a>
								</li>
							}
							<li><a class="btn btn-warning" href="/Sepet">SEPETE GİT</a></li>

						</ul>

					}
					else
					{
						<a class=" nav-link text-dark" href="/Sepet">
							<i class="fa-solid fa-cart-shopping"></i>
							SEPET
						</a>
						// <a href="#" onmouseover="alert('onMouseover çalışıt')">onMouseOVER</a>
						// <a href="#" onmouseout="alert('onmouseout çalışıt')">onmouseout</a>
					}

				}
			</div>

		</div>





		@* <form action="/Products" class="" style="margin-left:rem;" role="search">
					<input name="q" type="search" class="form-control" placeholder="" aria-label="Search" />
					<i class="fa-solid fa-magnifying-glass"></i>
				</form> *@



	</nav>

</header>



